{% extends "base/layout.html" %} <br />
{% block head %}
<title>LINE Pay Checkout</title>
{% endblock %} <br />

{% block content%}
<h1 class="text-3xl pt-20 m-8 text-center">LINE Pay結帳</h1>

<div class="rounded-3xl bg-yellow-300 mx-20">
  <div class="p-4 flex gap-4">

    <div class="basis-1/2 ">
      <div class="text-center mb-6">
        <h1 class="text-lg mb-2">三五成群 長長久久</h1>
        <div class="flex justify-center items-baseline">
          <span class="text-sm align-top mt-2">NTD</span>
          <span class="text-5xl font-bold">399</span>
        </div>
        <div class="mt-2">
          <span class="text-sm">for</span>
          <span class="text-2xl ml-2">3 揪</span>
        </div>
      </div>
      <div class="space-y-2">
        <div class="flex items-center">
          <span class="mr-2">✓</span>
          <span>包含內容A</span>
        </div>
        <div class="flex items-center">
          <span class="mr-2">✓</span>
          <span>包含內容B</span>
        </div>
        <div class="flex items-center">
          <span class="mr-2">✓</span>
          <span>包含內容C</span>
        </div>
      </div>
    
    
      <form class="bg-white rounded-full my-4 p-2 text-center" method="POST">
        {% csrf_token %}
        <button class="text-yellow-500 " type="submit">前往付款</button>
      </form>
    </div>
    <div class="bg-gray-600 basis-1/2">其他方案
      <div class="bg-white">方案B</div>
      <div class="bg-white">方案C</div>
    </div>
  </div>

</div>

{% endblock %}
